In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('pitcheo.csv', encoding = 'latin-1', sep = ';')

df

     Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Categoria
0     1,CoryÂ Abbott,26,WSN,NL,0,5,0.0,5.25,16,9,7,0...
1     2,AlbertÂ Abreu,26,TOT,AL,2,2,0.5,3.26,33,0,11...
2     3,AlbertÂ Abreu,26,TEX,AL,0,0,0.0,3.12,7,0,0,0...
3     4,AlbertÂ Abreu,26,KCR,AL,0,0,0.0,4.15,4,0,3,0...
4     5,AlbertÂ Abreu,26,NYY,AL,2,2,0.5,3.16,22,0,8,...
...                                                 ...
1076  1077,RobÂ Zastryzny*,30,NYM,NL,0,0,0.0,9.0,1,0...
1077  1078,RobÂ Zastryzny*,30,LAA,AL,0,0,0.0,6.0,5,0...
1078  1079,AngelÂ Zerpa*,22,KCR,AL,2,1,0.667,1.64,3,...
1079  1080,T.J.Â Zeuch,26,CIN,NL,0,3,0.0,15.19,3,3,0...
1080  1081,BruceÂ Zimmermann*,27,BAL,AL,2,5,0.286,5....

[1081 rows x 1 columns]

# Prueba de como hacer codigos
este espacio es para el ensayo y error

prueba para ver si es joven o veterano el jugador

In [14]:
edad = 30
if edad > 30:
    print("El jugador es veterano")
else:
    print("El jugador es joven")
edad = 29

El jugador es joven

In [15]:
df['Categoria'] = df['Age'].apply(lambda x: 'Veterano' if x > 30 else 'Joven')
df.to_csv('pitcheo.csv', index=False)

KeyError: 'Age'

Indicio de como llamar a columna edad

In [ ]:
# Definimos una función que calcula el promedio de era x inning
def calcular_iva(monto_base):
    iva = monto_base * 0.16
    return iva

# Usamos la función
precio_producto = 150
iva_a_pagar = calcular_iva(precio_producto)
print(f"El IVA para un producto de ${precio_producto} es ${iva_a_pagar}")
# Salida: El IVA para un producto de $150 es $24.0

In [20]:
# Creando un array de NumPy
arr_innings = np.array([5, 6, 7, 8])

# Operación vectorizada (sin bucle for)
arr_innings_con_dos_mas = arr_innings + 2
print(arr_innings_con_dos_mas)
# Salida: [ 7  8  9 10]

print(innings)

[ 7  8  9 10]
[5, 6, 7, 8]

In [21]:
df.describe

<bound method NDFrame.describe of      Rk,Name,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,Categoria
0     1,CoryÂ Abbott,26,WSN,NL,0,5,0.0,5.25,16,9,7,0...
1     2,AlbertÂ Abreu,26,TOT,AL,2,2,0.5,3.26,33,0,11...
2     3,AlbertÂ Abreu,26,TEX,AL,0,0,0.0,3.12,7,0,0,0...
3     4,AlbertÂ Abreu,26,KCR,AL,0,0,0.0,4.15,4,0,3,0...
4     5,AlbertÂ Abreu,26,NYY,AL,2,2,0.5,3.16,22,0,8,...
...                                                 ...
1076  1077,RobÂ Zastryzny*,30,NYM,NL,0,0,0.0,9.0,1,0...
1077  1078,RobÂ Zastryzny*,30,LAA,AL,0,0,0.0,6.0,5,0...
1078  1079,AngelÂ Zerpa*,22,KCR,AL,2,1,0.667,1.64,3,...
1079  1080,T.J.Â Zeuch,26,CIN,NL,0,3,0.0,15.19,3,3,0...
1080  1081,BruceÂ Zimmermann*,27,BAL,AL,2,5,0.286,5....

[1081 rows x 1 columns]>